<h1>Boston Dog Owners Society</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Dog Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
    <tr>
      <td><%= owner.full_name %></td>
      <td><%= owner.first_name %></td>
      <td><%= owner.last_name %></td>
      <td><%= owner.dog_name %></td>
      <td><%= owner.email %></td>
      <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
  </tbody>
</table>
