<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Dog Name:</strong>
  <%= @owner.dog_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>


